* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow: hidden;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/ryanback.png);
  background-size: 100%;
  filter: brightness(0.6);
  z-index: -1;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  text-align: center;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

.content-wrapper {
  max-width: 1120px;
}

.content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  display: block;
  cursor: default;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  margin-top: 5px;
}

.profile-text p {
  display: block;
  margin-top: 0.5em;
  font-size: 20px;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.profile-text {
  margin-bottom: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  gap: 50px;
  justify-content: center;
}

.iconblock {
  display: inline-block;
  width: 100px;
}

.iconblock h4 {
  margin-top: 5px;
}

.videoframe {
  margin: 20px auto 0;
  position: relative;
  width: 100%;
  max-width: 560px;
  aspect-ratio: 16 / 9;
}

.videoframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
    max-width: 100%;
}


